
<style>

  .foot {
   background-color: #6441A4;
   text-align: center;
   height: 40px;
  }

  .foot p {
   margin-top: 50px;
   }

</style>
<div class="foot" style="">
  <p>
     Criado por <%= bot.users.get('292065674338107393').username %>
  </p>
</div>